<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <title>Travelpedia</title>
</head>
<body>
  <div class="container nav nav-tabs navbar-center">
    <ul class="nav nav-tabs navbar-center">
      <li><%= link_to "Travelpedia", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Public Wikis", wikis_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to "My Wikis", user_path(current_user) %></li>
          <% if current_user.standard? %>
            <li><%= button_to "Upgrade", charges_path, class: 'btn btn-success' %></li>
          <% end %>
      <% end %>

      <li class="nav nav-tabs navbar-right">
        <% if user_signed_in? %>
          <p>Hello, <%= current_user.name %> - <%= link_to "Edit Account", edit_user_registration_path, :class => 'navbar-link' %> | <%= link_to "Sign Out", destroy_user_session_path, :method => 'delete' %></p>
        <% else %>
          <li class="nav nav-tabs navbar-right"><%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link' %></li>
          <li class="nav nav-tabs navbar-right"><%= link_to "Sign In", new_user_session_path, :class => 'navbar-link' %></li>
        <% end %>
      </ul>

      <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </div>
      <% end %>

    <%= yield %>
  </div>

</body>
</html>
